test_schemas/development_schmea.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <define name="DOC">
        <element name="DOC">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                >(Document) contains a single schema-conformant document, combining a single
                docHeader with one or more members of the model.resourceLike class. Multiple DOC
                elements may be combined to form a docCorpus element.</a:documentation>
            <group>
                <ref name="docHeader"/>
                <oneOrMore>
                    <ref name="model.resourceLike"/>
                </oneOrMore>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>

    <!-- HEADER STUFF -->
    <define name="docHeader">
        <element name="docHeader">
            <group>
                <interleave>
                    <ref name="docDesc"/>
                    <zeroOrMore>
                        <ref name="model.global"/>
                    </zeroOrMore>
                </interleave>
            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="docDesc">
        <element name="docDesc">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file
                description) contains a full bibliographic description of an electronic file. [2.2.
                The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
            <group>
                <ref name="titleStmt"/>
                <zeroOrMore>
                    <ref name="peerReview"/>
                </zeroOrMore>
            </group>
            <ref name="att.global.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="titleStmt">
        <element name="titleStmt">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title
                statement) groups information about the title of a work and those responsible for
                its content. [2.2.1. The Title Statement 2.2. The File
                Description]</a:documentation>
            <group>
                <oneOrMore>
                    <ref name="docTitle"/>
                </oneOrMore>
                <zeroOrMore>
                    <ref name="model.respLike"/>
                </zeroOrMore>
            </group>
            <ref name="att.global.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="model.respLike">
        <choice>
            <ref name="docAuthor"/>
            <ref name="reviewer"/>
        </choice>
    </define>
    <define name="peerReview">
        <element name="peerReview">
            <zeroOrMore>
                <ref name="model.respLike"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="docAuthor">
        <element name="docAuthor">
            <a:documentation>in a bibliographic reference, contains the name(s) of an author,
                personal or corporate, of a work; for example in the same form as that provided by a
                recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors
                2.2.1. The Title Statement]</a:documentation>
            <ref name="macro.phraseSeq"/>
            <ref name="att.global.attributes"/>
            <ref name="att.naming.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="reviewer">
        <element name="reviewer">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a
                bibliographic reference, contains the name(s) of an author, personal or corporate,
                of a work; for example in the same form as that provided by a recognized
                bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The
                Title Statement]</a:documentation>
            <ref name="macro.phraseSeq"/>
            <ref name="att.global.attributes"/>
            <ref name="att.naming.attributes"/>
            <empty/>
        </element>
    </define>

    <define name="reflStmt">
        <element name="reflStmt">
            <a:documentation> This is a placeholder element for pertinent framing and contextual
                information.</a:documentation>
            <choice>
                <ref name="macro.paraContent"/>
                <ref name="macro.reflContent"/>
            </choice>
            <ref name="att.global.attributes"/>
            <ref name="att.naming.attributes"/>
            <empty/>
        </element>
    </define>


    <!-- END HEADER -->

    <!-- global and canonical attributes here -->
    <define name="att.global.attributes">
        <ref name="att.global.rendition.attributes"/>
        <ref name="att.global.linking.attributes"/>
        <ref name="att.global.responsibility.attributes"/>
        <ref name="att.global.attribute.xmlid"/>
        <ref name="att.global.attribute.n"/>
    </define>
    <define name="att.global.linking.attributes">
        <ref name="att.global.linking.attribute.corresp"/>
        <ref name="att.global.linking.attribute.next"/>
        <ref name="att.global.linking.attribute.prev"/>
    </define>
    <define name="att.global.linking.attribute.corresp">
        <optional>
            <attribute name="corresp">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(corresponds) points to elements that correspond to the current element in some way.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.linking.attribute.next">
        <optional>
            <attribute name="next">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the next element of a virtual aggregate of which the current element is part.</a:documentation>
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.linking.attribute.prev">
        <optional>
            <attribute name="prev">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(previous) points to the previous element of a virtual aggregate of which the current element is part.</a:documentation>
                <data type="anyURI"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.attribute.xmlid">
        <optional>
            <attribute name="xml:id">
                <a:documentation>(identifier) provides a unique identifier for the element bearing
                    the attribute.</a:documentation>
                <data type="ID"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.attribute.n">
        <optional>
            <attribute name="n">
                <a:documentation>(number) gives a number (or other label) for an element, which is
                    not necessarily unique within the document.</a:documentation>
                <data type="string"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.rendition.attributes">
        <ref name="att.global.rendition.attribute.rend"/>
        <ref name="att.global.rendition.attribute.style"/>
        <ref name="att.global.rendition.attribute.rendition"/>
    </define>
    <define name="att.global.rendition.attribute.rend">
        <optional>
            <attribute name="rend">
                <a:documentation>(rendition) indicates how the element in question was rendered or
                    presented in the source text.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="token">
                            <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                        </data>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.rendition.attribute.style">
        <optional>
            <attribute name="style">
                <a:documentation>contains an expression in some formal style definition language
                    which defines the rendering or presentation used for this element in the source
                    text</a:documentation>
                <data type="string"/>
            </attribute>
        </optional>
    </define>
    <define name="att.global.rendition.attribute.rendition">
        <optional>
            <attribute name="rendition">
                <a:documentation>points to a description of the rendering or presentation used for
                    this element in the source text.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <define name="att.global.responsibility.attributes">
        <ref name="att.global.responsibility.attribute.cert"/>
        <ref name="att.global.responsibility.attribute.resp"/>
    </define>
    <define name="att.global.responsibility.attribute.cert">
        <optional>
            <attribute name="cert">
                <a:documentation>(certainty) signifies the degree of certainty associated with the
                    intervention or interpretation.</a:documentation>
                <choice>
                    <data type="double"/>
                    <choice>
                        <value>high</value>
                        <a:documentation/>
                        <value>medium</value>
                        <a:documentation/>
                        <value>low</value>
                        <a:documentation/>
                        <value>unknown</value>
                        <a:documentation/>
                    </choice>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="att.global.responsibility.attribute.resp">
        <optional>
            <attribute name="resp">
                <a:documentation>(responsible party) indicates the agency responsible for the
                    intervention or interpretation, for example an editor or
                    transcriber.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>

    <define name="att.naming.attributes">
        <ref name="att.canonical.attributes"/>
    </define>
    <define name="att.canonical.attributes">
        <ref name="att.canonical.attribute.ref"/>
    </define>
    <define name="att.canonical.attribute.ref">
        <optional>
            <attribute name="ref">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    >(reference) provides an explicit means of locating a full definition or
                    identity for the entity being named by means of one or more
                    URIs.</a:documentation>
                <list>
                    <oneOrMore>
                        <data type="anyURI"/>
                    </oneOrMore>
                </list>
            </attribute>
        </optional>
    </define>
    <!-- END GLOBAL AND HIGH LEVEL ATTRIBUTE DEFINITIONS -->


    <!-- TYPE AND SUBTYPE ATTRIBUTES -->
    <define name="att.typed.attributes">
        <ref name="att.typed.attribute.type"/>
        <ref name="att.typed.attribute.subtype"/>
    </define>
    <define name="att.typed.attribute.type">
        <optional>
            <attribute name="type">
                <a:documentation>characterizes the element in some sense, using any convenient
                    classification scheme or typology.</a:documentation>
            </attribute>
        </optional>
    </define>
    <define name="att.typed.attribute.subtype">
        <optional>
            <attribute name="subtype">
                <a:documentation>provides a sub-categorization of the element, if
                    needed</a:documentation>
            </attribute>
        </optional>
    </define>
    <!-- END TYPE/SUBTYPE -->



    <!-- CONTENT MODELS -->
    <define name="macro.paraContent">
        <zeroOrMore>
            <choice>
                <text/>

                <!--<ref name="model.phrase"/>
                <ref name="model.inter"/>
                <ref name="model.global"/>
                
                <ref name="model.lLike"/>-->

            </choice>
        </zeroOrMore>
    </define>

    <define name="macro.reflContent">
        <!-- This content model will be used to add child elements to the reflStmt element -->
        <zeroOrMore>
            <choice>
                <text/>

            </choice>
        </zeroOrMore>
    </define>


    <define name="macro.phraseSeq">
        <zeroOrMore>
            <choice>
                <text/>
                <!--<ref name="model.phrase"/>-->
                <ref name="model.global"/>
            </choice>
        </zeroOrMore>
    </define>
    <!--END CONTENT MODELS-->





    <!-- BEGIN GLOBAL ELEMENT DEFINITIONS -->
    <define name="model.global">
        <choice>
            <ref name="model.milestoneLike"/>
            <ref name="model.noteLike"/>
        </choice>
    </define>
    <define name="model.milestoneLike">
        <notAllowed/>
    </define>
    <define name="model.noteLike">
        <ref name="note"/>
    </define>
    <define name="note">
        <element name="note">
            <a:documentation>contains a note made on the text intended to provide additional
                information or comment upon the text</a:documentation>
            <optional>
                <ref name="att.global.attributes"/>
            </optional>
            <text/>
        </element>
    </define>
    <!-- END GLOBAL ELEMENT DEFINITIONS -->

    <define name="docTitle">
        <element name="docTitle">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains
                a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The
                Title Statement 2.2.5. The Series Statement]</a:documentation>
            <ref name="macro.paraContent"/>
            <ref name="att.global.attributes"/>
            <ref name="att.canonical.attributes"/>
            <ref name="att.typed.attribute.subtype"/>
            <optional>
                <attribute name="type">
                    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                        >classifies the title according to some convenient typology. Sample values
                        include: 1] main; 2] sub(subordinate) ; 3] alt(alternate) ; 4] short; 5]
                        desc(descriptive) </a:documentation>
                    <data type="token">
                        <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                    </data>
                </attribute>
            </optional>
            <empty/>
        </element>
    </define>


    <define name="model.resourceLike">
        <choice>
            <ref name="text"/>
        </choice>
    </define>
    <define name="text">
        <element name="text">
            <a:documentation>contains a single text of any kind, whether unitary or composite, for
                example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus
                sample. </a:documentation>
            <group>

                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>

                <!--<optional>
                    <group>
                        <ref name="front"/>
                        
                        <zeroOrMore>
                            <ref name="model.global"/>
                        </zeroOrMore>
                        
                    </group>
                </optional>-->

                <choice>
                    <ref name="body"/>

                </choice>

                <zeroOrMore>
                    <ref name="model.global"/>
                </zeroOrMore>

                <!--<optional>
                    <group>
                        <ref name="back"/>
                        
                        <zeroOrMore>
                            <ref name="model.global"/>
                        </zeroOrMore>
                        
                    </group>
                </optional>-->

            </group>
            <ref name="att.global.attributes"/>
            <ref name="att.typed.attributes"/>
            <empty/>
        </element>
    </define>
    <define name="body">
        <element name="body">
            <a:documentation>(text body) contains the whole body of a single unitary text, excluding
                any front or back matter.</a:documentation>
            <group>
                <interleave>
                    <zeroOrMore>
                        <ref name="model.global"/>
                    </zeroOrMore>
                    <zeroOrMore>
                        <ref name="macro.paraContent"/>
                    </zeroOrMore>
                </interleave>
            </group>

            <!--<optional>
                    <group>
                        
                        <ref name="model.divTop"/>
                        
                        
                        <zeroOrMore>
                            <choice>
                                <ref name="model.global"/>
                                <ref name="model.divTop"/>
                            </choice>
                        </zeroOrMore>
                        
                    </group>
                </optional>
                
                
                
                <optional>
                    <group>
                        
                        <ref name="model.divGenLike"/>
                        
                        
                        <zeroOrMore>
                            <choice>
                                <ref name="model.global"/>
                                <ref name="model.divGenLike"/>
                            </choice>
                        </zeroOrMore>
                        
                    </group>
                </optional>
                
                
                
                <choice>
                    
                    
                    <oneOrMore>
                        <group>
                            
                            <ref name="model.divLike"/>
                            
                            
                            <zeroOrMore>
                                <choice>
                                    <ref name="model.global"/>
                                    <ref name="model.divGenLike"/>
                                </choice>
                            </zeroOrMore>
                            
                        </group>
                    </oneOrMore>
                    
                    
                    
                    <oneOrMore>
                        <group>
                            
                            <ref name="model.div1Like"/>
                            
                            
                            <zeroOrMore>
                                <choice>
                                    <ref name="model.global"/>
                                    <ref name="model.divGenLike"/>
                                </choice>
                            </zeroOrMore>
                            
                        </group>
                    </oneOrMore>
                    
                    
                    <group>
                        <oneOrMore>
                            <group>
                                
                                <ref name="model.common"/>
                                
                                
                                <zeroOrMore>
                                    <ref name="model.global"/>
                                </zeroOrMore>
                                
                            </group>
                        </oneOrMore>
                        
                        <optional>
                            <choice>
                                
                                
                                <oneOrMore>
                                    <group>
                                        
                                        <ref name="model.divLike"/>
                                        
                                        
                                        <zeroOrMore>
                                            <choice>
                                                <ref name="model.global"/>
                                                <ref name="model.divGenLike"/>
                                            </choice>
                                        </zeroOrMore>
                                        
                                    </group>
                                </oneOrMore>
                                
                                
                                
                                <oneOrMore>
                                    <group>
                                        
                                        <ref name="model.div1Like"/>
                                        
                                        
                                        <zeroOrMore>
                                            <choice>
                                                <ref name="model.global"/>
                                                <ref name="model.divGenLike"/>
                                            </choice>
                                        </zeroOrMore>
                                        
                                    </group>
                                </oneOrMore>
                                
                            </choice>
                        </optional>
                        
                    </group>
                </choice>
                
                
                
                
                <zeroOrMore>
                    <group>
                        
                        <ref name="model.divBottom"/>
                        
                        
                        <zeroOrMore>
                            <ref name="model.global"/>
                        </zeroOrMore>
                        
                    </group>
                </zeroOrMore>
                
            </group>-->
            <ref name="att.global.attributes"/>
            <!--changed to text from <empty/> to test schema-->
            <empty/>

        </element>
    </define>



    <start>
        <choice>
            <ref name="DOC"/>
        </choice>
    </start>
</grammar>
